In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\users\raju vishwakarma\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\raju vishwakarma\anaconda3\lib\site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import all required libraries
import pandas as pd
import io
from geopy.geocoders import Nominatim
geolocators = Nominatim(user_agent="geoapiExercises")
from datetime import datetime

In [3]:
# ask
# 1. Satisfaction

In [4]:
# import required data
df = pd.read_csv("C:\\Users\\Raju Vishwakarma\\Desktop\\AirbnbDataAnalytics\\airbnb prices.csv")

In [5]:
# read first 5 rows
df.head(5)

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1.0,NaN,156.0,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.391699,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1.0,NaN,126.0,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607187,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1.0,NaN,132.0,NaN,Amsterdam,2017-07-23 13:06:23.603546,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1.0,NaN,121.0,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.689787,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1.0,NaN,93.0,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681469,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [6]:
# explore the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  float64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  float64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  object
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: float64(9), int64(5), object(6)
memory usage: 2.9+ MB

In [7]:
# return all columns
print(df.columns.values)

['room_id' 'survey_id' 'host_id' 'room_type' 'country' 'city' 'borough'
 'neighborhood' 'reviews' 'overall_satisfaction' 'accommodates' 'bedrooms'
 'bathrooms' 'price' 'minstay' 'name' 'last_modified' 'latitude'
 'longitude' 'location']

In [8]:
print(df.shape)

(18723, 20)

In [9]:
# check if df contains null values
df.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [10]:
df = df[~df['name'].isnull()]
df = df[['room_id', 'survey_id', 'host_id', 'room_type', 'country', 'city', 'borough', 'neighborhood', 'reviews', 'overall_satisfaction', 'accommodates', 'bedrooms', 'price', 'name', 'last_modified', 'latitude', 'longitude', 'location']]
df.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18671
city                        0
borough                 18671
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
price                       0
name                        0
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [11]:
# handle duplicates
def newdatetime(x):
    return datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').date().strftime("%m-%d-%Y %H:%M:%S.%f")

df.drop_duplicates(keep='first' ,inplace=False)
df.last_modified = df.last_modified.apply(lambda x: newdatetime(x))
df.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1.0,156.0,Red Light/ Canal view apartment (Shared),07-23-2017 00:00:00,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1.0,126.0,Sunny and Cozy Living room in quite neighbours,07-23-2017 00:00:00,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1.0,132.0,Amsterdam,07-23-2017 00:00:00,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1.0,121.0,Canal boat RIDE in Amsterdam,07-23-2017 00:00:00,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1.0,93.0,One room for rent in a three room appartment,07-23-2017 00:00:00,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [ ]:
# handle country null values
# we cannot parse country values from city names since countries can have same city names
# So we can use lat and long to get the contry names

country = []
for x,y in zip(df.latitude.values, df.longitude.values):
    country.append(str(geolocators.geocode("{}, {}".format(x, y))).split(' ')[-1])
    
df